
.map-container {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#titleblock {
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 0px auto;
  top: 10px;
  width: 50%;
  max-height: 35vh;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background: #000000c4;
  box-sizing: border-box;  }

#left-panel {
  background-color: #FFF;
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 25px;
}

.toc-layer {
  width: 100%;
  padding: 10px;
}

.toc-layer:hover {
  background-color: #e6e6e6;
}

.calculation-box {
  height: 50px;
  width: 200px;
  position: absolute;
  bottom: 60px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-align: center;
  display: none;
  border-radius: 10px;
}

p {
  font-family: 'Open Sans';
  margin: 0;
  font-size: 13px;
}

.rounded-rect {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 50px -25px rgba(0, 0, 0, 0);
}

.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center.left {
  left: 0px;
}

.flex-center.right {
  right: 0px;
}

.sidebar-content {
  position: absolute;
  width: 95%;
  height: 95%;
  color: gray;
}

.sidebar-toggle {
  background: rgba(255, 255, 255, 0);
  color: #FFF;
  font-size: xx-large;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle.left {
  right: -1em;
}

.sidebar-toggle.right {
  left: -1.5em;
}

.sidebar-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}

.sidebar {
  transition: transform 1s;
  z-index: 1;
  width: 200px;
  top: 40px;
  display: flex;
  height:80%;
}

.button-group-right {
  height: 50px;
  width: auto;
  position: absolute;
  top: 10px;
  right: 60px;
  text-align: right;
  border-radius: 10px;
}



.button-group-right > *:not(:last-child) {
  margin-bottom: 10px; 
} 



/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
  transform: translateX(-195px);
}
.map-overlay {
  position: absolute;
  width: 20%;
  top: 80px;
  bottom: 0;
  right: 0;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #efefef;
  max-height: 100%;
  overflow: hidden;
  }
   
  .map-overlay fieldset {
  display: none;
  background: #ddd;
  border: none;
  padding: 10px;
  margin: 0;
  }
   
  .map-overlay input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  }
   
  .map-overlay .listing {
  overflow: auto;
  max-height: 100%;
  }
   
  .map-overlay .listing > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
  }
   
  .map-overlay .listing a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #404;
  text-decoration: none;
  }
   
  .map-overlay .listing a:last-child {
  border: none;
  }
   
  .map-overlay .listing a:hover {
  background: #f0f0f0;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media screen and (max-width: 480px) {



  .map-container {
    position: absolute;
    top:10%;
    height: 80%;
    bottom: 10%;
  }

  #titleblock {
    width: 100%;
    top: 0;
    border-radius: 0;
    background: #000000;
  }


  .calculation-box {
    bottom: 16%;
    right: 10px;
  }

  .sidebar {
    transition: transform 1s;
    z-index: 1;
    width: 200px;
    top: 15%;
    height: 70%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
