.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#left-panel {
  background-color: #FFF;
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 25px;
}

.toc-layer {
  width: 100%;
  padding: 10px;
}

.toc-layer:hover {
  background-color: #e6e6e6;
}

.calculation-box {
  height: 50px;
  width: 200px;
  position: absolute;
  bottom: 40px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  text-align: center;
  }
  
p {
  font-family: 'Open Sans';
  margin: 0;
  font-size: 13px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
